*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:'lato';
    padding-top: 60px;
    overflow-x: hidden;
}
html{
    scroll-behavior: smooth
}

[data-aos]{
    margin: 0;
    padding: 0;
}

/* TRANSITION*/
a, .btn{
    transition: all 300ml ease;
}

/* HEADER NAV */

#header-nav{
    box-shadow: 0px 25px 20px -30px rgba(0, 0, 0, 0.45);
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: rgb(231, 229, 229);
}

nav, .nav-links{
    display: flex;
}

nav{
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.nav-links{
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

a{
    text-decoration: none;
    text-decoration-color: white;
    color: blue;
}

a:hover{
    color: navy;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: blue;
}
.Noble-logo{
    width: 150px;
    height: 70px;
}
/* HAMBURGER MENU */

#hamburger-nav{
    display: none; 
    box-shadow: 0px 25px 20px -30px rgba(0, 0, 0, 0.45);
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: rgb(231, 229, 229);
}

.hamburger-menu{
    position: relative;
    display: inline-block;
}

.hamburger-icon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 20px;
    cursor: pointer;
}
.hamburger-icon span{
    width: 100%;
    height: 2px;
    background-color: blue;
    transition: all 0.3 ease-in-out;
}
.menu-links{
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}
.menu-links a{
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: blue;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    margin-bottom: 2rem;
}
.menu-links li{
    list-style: none;
}
.menu-links.open{
    max-height: 300px;
    width: 300px;
    height: 800px;
}
.hamburger-icon.open span:first-child{
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2){
    opacity: 0;
}

.hamburger-icon.open span:last-child{
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child{
    transform: none;
}
.hamburger-icon span:first-child{
    opacity: 1;
}
.hamburger-icon span:first-child{
    transform: none;
}

/* SESCTION */

section{
    position: relative;
    padding: 4vh;
    margin: 5rem 10rem;
    box-sizing: border-box;
    max-height: fit-content;
    padding-bottom: 0;
}

#designs{
    max-height: fit-content;
}

#about{
    max-height: fit-content;
}


/* HOME-SESCTION */

#first-text{
    color: navy;
    font-size: 4rem;
    text-align: center;
    margin-bottom: 2rem;

}
.Welcome-speech{
    text-align: center;
    color: blue;
    font-size: 1.2rem;
    border-radius: 10px;
    background: rgb(255, 252, 252);
    padding: 10px;
}
.Welcome-speech-text{
    padding: 5px;
}
/*BUTTON-SYTLES-SECTION*/
#join-button{
    border: none; 
    background-color: blue;
    padding: 15px 15px 15px 15px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    border-radius: 10px;
    margin-top: 10px;
}
#join-button:hover{
    background-color: navy;
    cursor: pointer;
}

.view-button{
    border: none; 
    background-color: blue;
    padding: 15px 15px 15px 15px;
    font-family: 'lato' ;
    color: white;
    font-weight: bold;
    font-size: 15px;
    border-radius: 10px;
}
.view-button a{
    color: white;
}

.view-button:hover{
    background-color: navy;
    cursor: pointer;
}

#view-button-more{
    border: none; 
    background-color: blue;
    padding: 15px 15px 15px 15px;
    font-family: 'lato' ;
    color: white;
    font-weight: bold;
    font-size: 15px;
    border-radius: 10px;
    width: 100vh;
}

#view-button-more a{
    color: white;
}

#view-button-more:hover{
    background-color: navy;
    cursor: pointer;
}

#button-div{
    display: flex;
    justify-content: center;
}

.resume{
    padding: 15px 30px 15px 30px;
    font-size: 22px;
    background-color: blue;
    font-family: 'lato';
    color: white;
    font-weight: bold;
    font-size: 15px;
    border-radius: 10px;
    border: none;
    margin-top: 1rem;
}

.resume:hover{
    background-color: navy;
    cursor: pointer;
}

.rec-button{
    font-weight: 600;
    transition: all 300ms ease-in-out;
    padding: 1.5rem;
    width: 12rem;
    border-radius: 1rem;
    font-size: 1.3rem;
    background: white;
}
/* DESIGNS SECTION */
.intro-text{
    text-align: center;
    color: navy;
    margin-bottom: 1.7rem;
}
.horizontal-line{
    display: flex;
    height: 1.8px;
    width: 700px;
    border: none;
    background-color: navy;
    margin: 13px;

}
.specify-secions-name{
    text-align: center;
    width: 15rem;
    color: blue;
    font-size: 20px;
}
.specify-secions{
    display: flex;
}

.image-designs{
    width: 330px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}
.name-design{
    font-size: 20px;
    color: navy;
    font-weight: 600;
    margin-top: 10px;
}

.tools{
    margin-top: 10px;
    margin-bottom: 10px;
    font-style: italic;
    color: blue;
}
#sec-check{
    justify-content: center;
    margin-left: 7px;
}
.grouped-design-div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    column-gap: 40px;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 30px;
}
.About-Design{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ABOUT SECTION */

.about-pic{
    border-radius: 2rem;
}

#about-all-container{
    display: flex;
    flex-direction: row;
    gap: 4rem;
    justify-content: center;
    align-items: center;
}

#about-hello-container{
    display: flex;
    flex-direction: row;
    
}

.section__text__p1{
    text-align: center;
}

.section__text__p2{
    font-size: 1.6rem;
    margin-top: 0.5rem;
}

.section__text{
    align-self: center;
    text-align: center;
    color: blue;
}

.section__text p{
    font-weight: 600;
}

.tittle{
    font-size: 3rem;
    text-align: center;
    margin-top: 0.5rem;
    color: navy;
}

.about-me{
    margin-top: 1rem;
}

/* CONTACT SECTION */

#contact{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.contact-all-container{
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border-color: navy ;
    border:rgb(0, 0, 128) 0.1rem solid;
    margin: 2rem auto;
    padding: 0.5rem;
    width: 40rem;
}

.contact-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
    cursor: pointer;
}

.contact-container p{
    font-size: larger;
}
.contact-icon{
    height: 2rem;
}

/*FOOTER SECTION*/

footer{
    max-height: 26vh;
    margin: 0 1rem;
}

footer p{
    text-align: center;
    color: navy;
}